*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container  {
    display: grid;
    grid-template-columns: auto 1fr auto/auto 1fr auto;

}

.header {
grid-column: 1/4;
padding: 2rem;
background: #000;
color: white;

}

ul{
    list-style-type: none;
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.left{
    grid-column: 1/2;
    background: pink;
    height: 300px;
}

.main{
    grid-column: 2/3;
    background: crimson;
}

.right{
    grid-column: 3/4;
    background: cyan;
}

.footer{
    grid-column: 1/4;
    background: greenyellow;
    height: 100px;
}